@charset "UTF-8";
body, ul, li{
	margin:0;
	padding:0;
	list-style-type:none;
	
}
body{
	background-image:url(../img/mainbackground01.jpg), url(../img/mainbackground02.jpg), url(../img/mainbackground03.jpg);
}

.container1{
	width:100%;
	overflow:auto;
	margin:0 auto;
	padding: 5 ;
	background:url("/img/main.png");
	height:100%;
}

#board1{
	background-color:white;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.1em;
	margin:50px auto;
	border-radius:10px;
	overflow:auto;
	width:1200px;
	height: 550px;
}
#community1{
	width:1200px;
	margin: 0 50 0 0;
	padding: 0 10 0 10;
}
#boardview1{
	background-color:white;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.1em;
	border-radius:10px;
	overflow:auto;
	padding:30 150;
	width:1200px;
	height: 500px;
	margin:0 auto;
}

#viewselect1{
	margin:20 0 4 0;
	padding:15px;
}
#writeedit1{
	background-color:white;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.1em;
	margin:50 350;
	border-radius:10px;
	overflow:auto;
	padding:30px;
	width:1200px;
}

#boardview1>ul>li{
	margin: 0 0;
    padding: 0 0;
    border : 0;
    display :inline-block;
    overflow:auto;
}
#boardview1>ul>li:nth-child(-n+3){
    display :inline-block;
    overflow:auto;
    text-align: right;
}

.h1{ text-align:center;
	font-family: 'Jua', sans-serif;
}

h2{ text-align:left;
	
}
a:link, a:visited, a:hover{
	text-decoration:none;
	color:#333;
}
.button1{
	background-color:#F98169;
	border-color:#F98169;
	width:150px;
	height:50px;
	padding:3 3;
	font-family: 'Jua', sans-serif;
	font-size: 1.6em;
	margin:30px;
	color:white;
	border-radius:10px;
	border-width:1px;
	padding:5px;
}
#textwrite1{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.3em;
	margin:50 300;
	padding:20px;
}
#content1, #subject1{
	width:800px;
	margin:10px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	padding:20px;
}
#multiDel1, #sc1, #viewbutton1, #wedit1{
	background-color:#F98169;
	border-color:#F98169;
	color:white;
	font-family: 'Noto Sans KR', sans-serif;
	height :30;
	border-radius:10px;
	border-width:1px;
}

#textok1{
	background-color:#F98169;
	border-color:#F98169;
	color:white;
	font-family: 'Noto Sans KR', sans-serif;
	height :40;
	border-radius:10px;
	border-width:1px;
	width: 100px;
	float: right;
}
#searchFrm1{
	margin:100px 0px -400px 10px;
	
}
#listsearch1{
	height:50px;
	width:700px;
}
#write1{
	float:right;
	height:70px;
	width:250px;
	margin: -90px 20px 200px auto;

}
#searchword1 {
  width: 300px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
#mainMenu1>ul{
	width:1200px;
	margin:0 auto;
}

#mainMenu1 li{
	float:left;
	width:150px;
	height:50px;
	line-height:50px;
	font-size:1.2em;
	text-align:center;
	font-family: 'Jua', sans-serif;
	color:white;
}
#mainMenu1 {
	background-color:#F98169;
}
#mainMenu1 ul{
	overflow:auto;
}


#header1{
	width:1200px;
	text-align:center;
	overflow:auto;
	margin: 0 auto;
	height: 150px;
}
#nav1{
	width: 1200px;
	height:200px;
	margin:0 auto;

}
#picture1>li>img{
	width:295.79px;
	height:200px;
	text-align-last:center;
}
#ment1>li{
	width:1200px;
}
#section1{
	width:50%;
	overflow:hidden;
	float:left;
	height:600px;
	text-align:center;
	

}
#aside1{
	width:50%;
	height:600px;
	float:right;
	overflow:hidden;
	text-align:center;
}
.h11{
	text-align:center;
	font-family: 'Jua', sans-serif;
	line-height:100px;
	height:100px;
}
.h12{
	text-align:center;
	font-family: 'Jua', sans-serif;
	height:100px;
	line-height:100px;
}
.footer{

}

/* 상단 탭 메뉴 스타일 적용 */
.main-container2{ /* 상단 탭 메뉴 스타일 적용 */
	user-select:none; 
}
#main-header2{ /* 메인 헤더 스타일 */
	background-color: rgb(252,129,108); 
	box-shadow:0 10px 20px #ffbfb3;
}
.main-container2{ /* 메뉴가 적용될 공간의 폭 설정 */
	width: 1500px;
	height:80px; 
	margin: 0 auto; 
	padding: 1px;
	
}
.logo2{ /* 로고와 메뉴 나란히 정렬 */
	float: left;
}
.logo2 img{  /* 상단 탭 메뉴 이미지 스타일 적용 */
	width: 130px; 
	margin-right: 220px; 
	margin-top: -15px;
	padding: 20px;
	display: block; 
	opacity:0.8; 
}
.menu-item2{  /* 상단 탭 메뉴 글씨 스타일 적용 */
	float: left; 
	margin-right: 45px; 
	margin-top: -15px;
	padding: 27px; 
	font-weight: bold;
	font-size:17px;
}
ul{ /* 상단 탭 메뉴 글씨 스타일 적용 */
	list-style:none;
}
ul li a{ /* 상단 탭 메뉴 글씨 스타일 적용 */
	color:#fff;
	text-decoration:none; 
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.menu-logtxt2{ /* 로그인 스타일 적용 */
	margin-left:160px; 
	padding: 12px 20px; 
	font-size:1rem;
	font-weight: bold;
	color:#F98169;
	text-decoration:none;
	background-color:#fff;
	border-radius:24px;
	line-height:3; 
	
}
.menu-jointxt2{ /* 회원가입 스타일 적용 */
	margin-left:10px; 
	padding: 12px 20px; 
	font-size:1rem;
	font-weight: bold;
	color:#F98169;
	text-decoration:none;
	background-color:#fff;
	border-radius:24px;
	line-height:3; 
}
.menu-logouttxt2{ /* 로그아웃 스타일 적용 */
	margin-left:160px; 
	padding: 12px 20px; 
	font-size:1rem;
	font-weight: bold;
	color:#F98169;
	text-decoration:none;
	background-color:#fff;
	border-radius:24px;
	line-height:3; 
}
.menu-logtxt2:hover{ /* 로그인 버튼 마우스 오버 시 */
	box-shadow:0 4px 8px #000; 
}
.menu-jointxt2:hover{ /* 회원가입 버튼 마우스 오버 시 */
	box-shadow:0 4px 8px #000; 
}
#menu-log2{
	float: left;
	color:#fff;
}
/*
.content2{
	margin-left:300px;
	margin-top:210px;  
}
*/
/*
h1{
	font-size:70px;
	color:#043687;
}
*/
.title2{ /* 메인텍스트 문구 스타일 적용 */
	margin-left:10px;
	margin-top:-25px;
	color:#a8a8a8;
}
.btn-start2{ /* 시작하기 버튼 스타일 적용 */
	width:200px;
	height:80px;
	background-color: #F98169;
	border:none;
	color:white;
	font-size:18px;
	font-weight:bold;
	border-radius:20px; 
	position:absolute;
	top:80%; 
	left:264px; 
	transition:0.3s;
}
.btn-start2 a{ /* 시작하기 버튼 내 글씨 스타일 적용 */
	color:white;
	text-decoration:none;
	text-align:center;
	line-height:75px;
	font-size:25px;
	font-weight:bold;
	display:block;
}
.btn-start2:focus{
	outline:0;
}
.btn-start2:hover{ /* 마우스 오버 시 */
	cursor:pointer;
	box-shadow:0 4px 16px #000; 
}