ul,li{
    margin:0;
    padding:0;
    list-style-type: none;
}
.videoList li{
    float: left;
    width:33%;
}
.videoList> li>*{
    width:100%;
    height:400px;
    margin:0;
    padding:0;
}
.videoList>li>video{
    object-fit: cover;
}