<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
    <!--
        ejs파일 :embedded javascript

        EJS는 nodejs에서 데이터를 html에
    -->
</head>
<body>
    <a href="/login">로그인</a>
    로그아웃
    게시판
</body>
</html>