<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
    <!--
        ejs파일 :embedded javascript

        EJS는 nodejs에서 데이터를 html에
    -->
</head>
<body>
    ---<%=logStatus%>---
    <% if(logStatus=='N'){ %>
        <a href="/login">로그인</a>
    <% }else if(logStatus=='Y'){ %>
        <%=user.username%>님<a href="/logout">로그아웃</a>
    <% } %>   
    <a href="/boardList">게시판</a>    
</body>
</html>