<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.mome.myapp.dao.RankingDAO">
 
 <select id="getRating" resultType="RankingVO">
 	 select foodname, rating, username from ranking 
 </select>
<select id="getRankingList" resultType="RankingVO">
 	  SELECT ROW_NUMBER() OVER(ORDER BY avg(rating) DESC) "ranking", 
 	  foodname, (avg(rating)) as star 
 	  from ranking GROUP BY foodname;
 </select> 
 <!--  
 <select id="getRating" resultType="RankingVO">
 	select foodname, avg(rating) from ranking GROUP BY foodname
	order by AVG( rating ) desc////select foodname, rating from ranking
 </select>
 -->
 
 <!-- 일딴 쓰고 있는 것  
 <select id="avg_Rating" resultType="RankingVO">
 	SELECT ROW_NUMBER() OVER(ORDER BY avg(rating) DESC) 
 	 "ranking", foodname, (avg(rating)) as star
 	  from ranking GROUP BY foodname;
 </select>
 <select id="selectfoodname" parameterType="String" resultType="RankingVO">
 	select foodname rating from ranking where 1=1 
 	<if test='foodname!=null'>
 		and foodname = ${parameter}
 	</if>
 </select>-->
 
 <!-- 
 <select id="getDetail">
 	select distinct ranking.foodname, menu.detail from ranking, menu where ranking.foodname = menu.foodname;
 </select>  -->
 
 
 <!-- 
 <select id="">
	 select sub. *, rank() over (partition by sub.foodname order by sub.avg_rating desc) as rnk
	 from (select foodname, AVG( rating ) as avg_rating FROM ranking GROUP BY foodname
	 order by AVG( rating )) sub;
 </select> 
 -->
 <!-- 
 <select id="menuList" resultType="MenuVO">
		select no, foodname, img, categories, detail from menu order by no desc 
 </select>
  -->
 <!-- 
 <select id="getRanking" resultType="RankingVO">
		select foodname, rating, AVG( rating ) as avg_rating from ranking group by foodname 
		order by AVG( rating ) desc limit4
</select>
  -->
  <!-- 
 <select id="getDeatil">
	 select distinct ranking.foodname, menu.detail 
	 from mome.ranking, mome.menu where ranking.foodname = ${menu.foodname}; 
 </select>
  -->
 
 </mapper>